/* 图片居中 */
img {
  display: block;
  margin: 0 auto;
}

/* 蓝色底 */
.b {
  background: #dfeefd;
  padding: 10px;
}

/* 粉色底 */
.r {
  background: #fbe1f0;
  padding: 10px;
}

/* 粉色底 */
.pink {
  background: #fbe1f0;
  padding: 10px;
}
